/* Clients */

.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients-list {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  width: 170px;
  height: 90px;
  margin: 0;
  color: $IconColor;

  transition: color 250ms $trans-duration;

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.icon-client {
  fill: currentColor;
}
